<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="https://youtube.com/shorts/Kt8sBi7e9gM?feature=share"
      >test movie</a
    >
  </body>
</html>
