html,
body {
  overflow: hidden;
}

/* Background */
#particles-js {
  position: fixed; /*描画固定*/
  z-index: 0; /*描画を一番下に*/
  width: 100%;
  height: 100%;
  background-color: #f3f3f3; /*背景色*/
}
#contents {
  position: relative; /*描画を#particles-jsよりも上にするためposition:relative;を指定*/
  z-index: 10; /*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
}

/* フォント */
p,
ul {
  text-align: justify;
  word-break: break-all;
}
.hack-h1 {
  font-family: "hack", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
  line-height: 1.3;
}
.hack-h2 {
  font-family: "hack", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2em;
  line-height: 1;
  letter-spacing: -0.03em;
}
.hack-h4 {
  font-family: "hack", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5em;
  line-height: 1;
}
.hack-h5 {
  font-family: "hack", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.1rem;
  line-height: 1;
}

p.hack {
  font-family: hack, sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  font-style: normal;
}
.zen-kaku-h2 {
  font-family: zen-kaku-gothic-new, sans-serif;
  font-weight: 700;
  font-size: 2em;
  font-style: normal;
  line-height: 1;
}

.zen-kaku-regular {
  font-family: zen-kaku-gothic-new, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
}

.zen-kaku-medium {
  font-family: zen-kaku-gothic-new, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.3;
}
.zen-kaku-bold {
  font-family: zen-kaku-gothic-new, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.3;
}

/* ボタン　*/
.myNote-btn {
  min-height: 52px;
  background: linear-gradient(
    108deg,
    rgba(235, 87, 237, 1) 0%,
    rgba(235, 87, 237, 1) 0% 50%,
    rgba(143, 158, 237, 1) 75%,
    rgba(41, 237, 237, 1)
  );
  color: white;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}
.default-btn {
  min-height: 52px;
  padding: 1.1rem;
  background-color: #010440;
  color: white;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}
.default-border-btn {
  min-height: 52px;
  padding: 1.1rem;
  background-color: white;
  border: 2px solid #010440;
  color: #010440;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}
.pink-btn {
  min-height: 52px;
  background-color: #e345e6;
  padding: 1.1rem;
  color: white;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}
.pink-border-btn {
  min-height: 52px;
  padding: 1.1rem;
  background-color: white;
  border: 2px solid #e345e6;
  color: #e345e6;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}
/* ボタンクリックアニメーション　*/
.btn-animation {
  position: relative;
  overflow: hidden;
}
.btn-animation::after {
  content: "";
  /*絶対配置で波紋位置を決める*/
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*波紋の形状*/
  background: radial-gradient(circle, #fff 10%, transparent 10%) no-repeat 50%;
  transform: scale(10, 10);
  /*はじめは透過0に*/
  opacity: 0;
  /*アニメーションの設定*/
  transition: transform 0.2s, opacity 0.5s;
}
.btn-animation:active::after {
  transform: scale(0, 0);
  transition: 0s;
  opacity: 0.3;
}

/* 選択されている風 */
.vue-typer.custom .char.typed {
  color: #f2f2f2;
  background-color: #010326;
}

/* Vuetify 微調整*/
.v-timeline-item__body {
  padding-inline-end: 5px !important;
  line-height: 0;
}
.v-timeline-item__opposite {
  padding-inline-end: 5px !important;
  line-height: 0;
}
#top-carousel .carousel__viewport {
  min-height: 245px;
}
#top-carousel .carousel__pagination {
  margin: 0;
}

.v-footer {
  z-index: 1 !important;
  text-align: center;
}
.v-overlay__scrim {
  opacity: 0.9 !important;
  background-color: #010326 !important;
}

/* ダイアログ */
div.v-dialog.v-overlay--active.v-theme--light > div.v-overlay__content {
  justify-content: center !important;
  align-items: center !important;
}

.v-toolbar__content {
  justify-content: space-between;
  box-shadow: 0px 1px 6px -4px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)),
    0px 1px 1px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)),
    0px 1px 3px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12));
}
