html,
body {
  height: 100%; /*高さを100%にして描画エリアをとる*/
}

/* Background */
#particles-js {
  position: fixed; /*描画固定*/
  z-index: 0; /*描画を一番下に*/
  width: 100%;
  height: 100%;
  background-color: #f3f3f3; /*背景色*/
}
#contents {
  position: relative; /*描画を#particles-jsよりも上にするためposition:relative;を指定*/
  z-index: 10; /*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
}

/* フォント */
.hack-h1 {
  font-family: "hack", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
  line-height: 1.3;
}
.hack-h2 {
  font-family: "hack", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2em;
  line-height: 1;
  letter-spacing: -0.03em;
}
.hack-h4 {
  font-family: "hack", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: x-large;
  line-height: 1;
}
.hack-h5 {
  font-family: "hack", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.1rem;
  line-height: 1;
}

p.hack {
  font-family: hack, sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  font-style: normal;
}

.zen-kaku-h5 {
  font-family: zen-kaku-gothic-new, sans-serif;
  font-weight: 700;
  font-size: 1.1em;
  font-style: normal;
  line-height: 1;
}
.zen-kaku-h5-bold {
  font-family: zen-kaku-gothic-new, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.3;
}

/* 選択されている風 */
.vue-typer.custom .char.typed {
  color: #f2f2f2;
  background-color: #010326;
}

/* Vuetify 微調整*/
.v-timeline-item__body {
  padding-inline-end: 5px !important;
  line-height: 0;
}
.v-timeline-item__opposite {
  padding-inline-end: 5px !important;
  line-height: 0;
}
#top-carousel .carousel__viewport {
  min-height: 245px;
}
#top-carousel .carousel__pagination {
  margin: 0;
}
.v-footer {
  z-index: 1 !important;
  text-align: center;
}
